*{
	margin: 0;
	padding: 0;	
}

body {

	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url(images/pattern-bg.svg);
	background-position: right;
	background-repeat: no-repeat;
	min-height: 100vh;
}

.container {
	position: absolute;
	width: 800px;
}

.container .card1 .text {
	background-color: #aaa5;
	position: absolute;
	z-index: 100;
}

.container .card1 .image {
	position: absolute;
	height: 100px;
	width: 100px;
	background-image: url("images/image-tanya.jpg");
}

.container .card1 .image span {
	background-image: url("images/image-tanya.jpg");
}

.container .card2{
	display: none;
}
